/* Fonts */

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../fonts/Arial.woff') format('woff');
}


@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url('../fonts/Georgia.woff') format('woff');
}

/* Main styles */

body {
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px 0 10px;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 25px;
    color: #000000;
    line-height: 32.5px;
}
.modal-content img {
    display: none;
}
.modal {
    position: fixed;
    background-color: rgba(41, 41, 41, 0.6);
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    position: absolute;
    top: -52px;
    right: -42px;
    background-color: #F1CDB3;
    display: inline-block;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 15px 45px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 350ms ease-out;
    width: 52px;
    height: 52px;
    padding: 0;
    border: none;
}

#modal-btn img {
    width: 100%;
    height: 12px;
    object-fit: contain;
    display: block;
}

.modal-content {
    position: relative;
    display: flex;
    width: 240px;
    height: auto;
    background-color: #FAFAFA;
    border-radius: 9px;
}


.modal-text {

    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #000000;
    padding: 10px 9px 10px 11px;
    overflow-y: scroll;
}

.modal-text h3,
.modal-text h4 {
    color: #000000;
}

.modal-text h3 {
    margin-bottom: 10px;
}

.modal-text p {
    max-width: 350px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin: 40px auto;
}

.modal-text ul {
    margin-left: 1em;
    padding: 0;
}

.modal-text li {
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 11px;
}

.modal-text li::before {
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 207px;
    height: 52px;
    color: #292929;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
    cursor: pointer;
}



.friend-btn {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: white;
    margin: 0 auto;
    margin-bottom: 1rem;

}

.friend-btn:hover {
    background: #FDDCC4;
}

.friends-btn {
    background: #F1CDB3;
    width: 261px;
}

.friends-btn:hover {
    background: #FDDCC4;
}





.nav-item.selected>.nav-link {
    color: #FAFAFA;
    cursor: pointer;
}

.nav-item.selected>.nav-link {
    padding-bottom: 6px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    color: #FAFAFA;
}


.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 35px;
}

.nav-link {
    position: relative;
    text-align: center;
    font-size: 15px;
    line-height: 51px;
    color: #CDCDCD;
}



/* friends styles */

.friends-wrapper {
    padding: 0;
}

.friend-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 90px;
    overflow: hidden;
    height: 435px;
}

.friends-title {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #545454;
    line-height: 32px;
    letter-spacing: 0.06em;
    padding: 42px 0;
}

.friend-title {
    font-family: Georgia, serif;
    text-align: center;
    color: #545454;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 30px 0;
}

.friend-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 9px;
    width: 100%;
}


.friend-img {
    background: url("../../../assets/images/pets-katrine.png");
    background-size: cover;
    width: 270px;
    height: 270px;
}



/* footer styles */

.footer {
    background: url("../images/start-screen-bg-mobile.png");
    background-size: cover;
    padding: 40px 0 0;
}

.footer-title {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

.contact-wrapper {
    gap: 40px;
}

.friends {
    background: #F6F6F6;
}

a {
    text-decoration: none;
}

.friends-btn__wrapper {
    margin-top: 60px;
}


.friend-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.friend-card:hover .friend-btn {
    background: #FDDCC4
}


.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.address-wrapper {
    gap: 20px;
    justify-content: center;
}



.address-wrapper:not(:last-child) {
    margin-bottom: 40px;
}

.address-title {
    color: #F1CDB3;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
}

/* .desktop-nav {
    display: none;
} */

.mobile-nav {
    display: flex;
    justify-content: space-evenly;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.help-icons__first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.help-icon__wrapper {
    display: flex;
    justify-content: center;
}

.help-icon__title {
    text-align: center;
}

.footer-img__wrap {
    width: 86.25%;
    height: auto;
    margin: 1rem auto 0;
}

.footer-img {
    width: 100%;
}

.about {
    padding-bottom: 42px;
}

.friends {
    padding-bottom: 42px;
}

.help {
    padding-bottom: 42px;
}

.donation {
    padding-bottom: 42px;
}

.footer-title__wrapper {
    padding: 0 2rem;
}



@media (min-width: 768px) {
    .container {
        padding: 30px 30px 0 30px;
    }

    .friends-title {
        font-size: 35px;
        line-height: 45px;
    }

    .friend-cards {
        gap: 40px;
        grid-template-columns: 1fr 1fr;
    }

    .last-card {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-nav {
        display: none;
    }

    .burger {
        display: none;
    }

    .footer {
        padding: 0;
        background: url("../images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
        ;
    }

    .footer-img__wrap {
        width: 300px;
        height: 310px;
        margin-top: 3rem;
        grid-column: 1 / 5;
        grid-row: 2/3;
        transform: translate(0px, -13px);
    }

    .modal-content img {
        width: 350px;
        height: 350px;
        object-fit: contain;
        display: block;
    }

    .contact-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .footer-title {
        text-align: left;
        font-size: 35px;
        line-height: 45px;
    }

    .address-wrapper {
        justify-content: start;
    }

    .footer-title__wrapper {
        padding: 0;
    }

    .modal-content {
        width: 650px;
        height: 350px;
        overflow: unset;
    }
  
}

@media (min-width: 1280px) {
    .container {
        padding: 0px 10px 0 10px;
    }
   
    .modal-content {
        width: 900px;
        height: 500px;
    }
    .last-card {
        display: block;
    }
    .modal-content img {
        width: 500px;
        height: 500px;
    }
    .friends-title {
        padding: 0;
        margin-bottom: 60px;
    }

    .address-wrapper {
        justify-content: start;
    }

    .footer-title__wrapper {
        padding: 0;
    }

    .donation {
        padding-bottom: 0;
    }

    .friends {
        padding-bottom: 0;
    }

    .help {
        padding-bottom: 0;
    }

    .about {
        padding: 0;
    }

    .modal-text {
        padding: 50px 20px 50px 30px;
    }

    .footer {
        background: url("../images/footer-gradient-background.png");
        background-size: cover;
    }

    .footer-img__wrap {
        width: 300px;
        height: 310px;
    }

    .footer-title {
        text-align: left;
        font-size: 35px;
        line-height: 45px;
        width: 280px;
        max-width: 100%;
        letter-spacing: 0.06em;
    }



    .contact-wrapper {
        gap: 161px;
    }

    .friends-wrapper {
        padding: 80px 0;
    }

    .friend-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 105px;
    }

    .friend-card {
        width: 270px;
    }

    .footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }



    .help-icon__wrapper {
        display: flex;
        justify-content: center;
    }


}

/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}


