/* Fonts */

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../../assets/fonts/Arial.woff') format('woff');
}


@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url('../../../assets/fonts/Georgia.woff') format('woff');
}


body {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

/* Header */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 10px 30px 10px;
}

.logo-nav__wrapper {
    align-items: center;
}

.pets-header__logo {
    display: block;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    cursor: pointer;
    text-decoration: none;
}

.logo__title {
    padding-bottom: 10px;
    color: #545454;
}

.logo__description {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 15px;
    color: #545454;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-align: center;
}

.nav-item.selected>.nav-link {
    color: #F1CDB3;
    cursor: pointer;
}

.nav-item.selected>.nav-link {
    padding-bottom: 6px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    padding-bottom: 6px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    color: #F1CDB3;
}

.nav-link {
    color: #545454;
}

.nav-item {
    margin-right: 35px;
}

.nav-item:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main {
    background-color: #F6F6F6;
}
  /* friends styles */

  .friends-wrapper {
    padding: 80px 0;
}

.friend-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 90px;
    padding: 0 105px;
}

.friends-title {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    line-height: 45px;
    letter-spacing: 0.06em;
    margin-bottom: 60px;

}

.friend-title {
    font-family: Georgia, serif;
    text-align: center;
    color: #545454;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 30px 0;
}

.friend-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 9px;
    width: 270px;
}


.friend-img {
    background: url("../../../assets/images/pets-katrine.png");
    background-size: cover;
    width: 270px;
    height: 270px;
}
/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}