/* Fonts */

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../../assets/fonts/Arial.woff') format('woff');
}


@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url('../../../assets/fonts/Georgia.woff') format('woff');
}

/* Main styles */

body {
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px 0 10px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 207px;
    height: 52px;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
    cursor: pointer;
}

.hero-btn {
    margin-top: 42px;
}

.logo-title {
    padding-bottom: 10px;
}

.logo-desc {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 400;
}


.nav-item.selected>.nav-link {
    color: #FAFAFA;
    cursor: default;
}

.nav-item.selected>.nav-link::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    color: #FAFAFA;
}

@media (min-width: 1280px) {
    .header-background {
        background: url("../../../assets/images/start-screen-gradient-background.png");
        background-size: cover;
    }

    .header {
        padding-top: 60px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .nav-item:not(:last-child) {
        margin-right: 35px;
    }

    .nav-link {
        position: relative;
        text-align: center;
        font-size: 15px;
        line-height: 51px;
        color: #CDCDCD;
    }

    .hero-wrapper {
        display: flex;
        align-items: center;
        margin-top: 90px;
    }

    .hero-title {
        margin: 0;
        font-family: Georgia, serif;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 57px;
        font-size: 44px;
        text-align: left;
        padding-bottom: 42px;
        width: 310px;
        max-width: 100%;
    }

    .hero-desc {
        font-family: Arial, serif;
        color: #CDCDCD;
        font-weight: 400;
        line-height: 24px;
        font-size: 15px;
        text-align: left;
    }

    .hero-img {
        background: url("../../../assets/images/start-screen-puppy.png");
        width: 100%;
        height: 593px;
        background-size: contain;
        background-position: 88% 100%;
        background-repeat: no-repeat;
    }
}


a {
    text-decoration: none;
}

/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}