/* Fonts */

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    src: local('Arial'), url('../../../assets/fonts/Arial.woff') format('woff');
}


@font-face {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia'), url('../../../assets/fonts/Georgia.woff') format('woff');
}

/* Main styles */

body {
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 10px 0 10px;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    color: #F1CDB3;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    font-size: 25px;
    color: #000000;
    line-height: 32.5px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 207px;
    height: 52px;
    color: #292929;
    border-radius: 100px;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    outline: none;
    border: none;
    cursor: pointer;
}

.hero-btn {
    background: #F1CDB3;
    margin-top: 42px;
}

.friend-btn {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: white;
    margin: 0 auto;

}

.friends-btn {
    background: #F1CDB3;
    width: 261px;
}

.logo-title {
    padding-bottom: 10px;
}

.logo-desc {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-weight: 400;
}


.nav-item.selected>.nav-link {
    color: #FAFAFA;
    cursor: default;
}

.nav-item.selected>.nav-link::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.nav-link:hover {
    color: #FAFAFA;
}

@media (min-width: 1280px) {
    .header-background {
        background: url("../../../assets/images/start-screen-gradient-background.png") ;
        background-size: cover;
    }

    .header {
        padding-top: 60px;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .nav-item:not(:last-child) {
        margin-right: 35px;
    }

    .nav-link {
        position: relative;
        text-align: center;
        font-size: 15px;
        line-height: 51px;
        color: #CDCDCD;
    }

    /* hero styles */

    .hero-wrapper {
        display: flex;
        align-items: center;
        margin-top: 90px;
    }

    .hero-title {
        margin: 0;
        font-family: Georgia, serif;
        color: #FFFFFF;
        font-weight: 400;
        line-height: 57px;
        font-size: 44px;
        text-align: left;
        padding-bottom: 42px;
        width: 310px;
        max-width: 100%;
    }

    .hero-desc {
        font-family: Arial, serif;
        color: #CDCDCD;
        font-weight: 400;
        line-height: 24px;
        font-size: 15px;
        text-align: left;
    }

    .hero-img {
        background: url("../../../assets/images/start-screen-puppy.png");
        width: 100%;
        height: 593px;
        background-size: contain;
        background-position: 88% 100%;
        background-repeat: no-repeat;
    }

    /* about styles */

    .about {
        margin: 80px 0;
    }

    .about-wrapper {
        display: flex;
        padding: 0 175px 0 175px;
    }

    .about-img {
        background: url("../../../assets/images/about-pets.png");
        width: 300px;
        height: 408px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 120px;
    }

    .about-info {
        width: 430px;
        max-width: 100%;
    }

    .about-title {
        color: #545454;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.06em;

    }

    .about-desc {
        color: #4C4C4C;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }

    /* friends styles */

    .friends-wrapper {
        padding: 80px 0;
    }

    .friend-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 90px;
        padding: 0 105px;
    }

    .friends-title {
        text-align: center;
        font-weight: 400;
        font-size: 35px;
        color: #545454;
        line-height: 45px;
        letter-spacing: 0.06em;
        margin-bottom: 60px;

    }

    .friend-title {
        font-family: Georgia, serif;
        text-align: center;
        color: #545454;
        letter-spacing: 0.06em;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin: 30px 0;
    }

    .friend-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #FAFAFA;
        border-radius: 9px;
        width: 270px;
    }

    .friend-img {
        background: url("../../../assets/images/pets-katrine.png");
        background-size: cover;
        width: 270px;
        height: 270px;
    }

    /* help section styles */

    .help {
        margin: 80px 0;
    }

    .help-icons__wrapper {
        padding: 0 87px;
    }

    .help-icon__title {
        color: #545454;
        letter-spacing: 0.06em;
        font-family: Georgia, serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        margin-top: 30px;
        text-align: center;
    }

    .help-icons__first {
        display: flex;
        justify-content: space-between;
    }

    .help-icons__first:first-child {
        margin-bottom: 66px;
    }

    .help-icons__first:last-child {
        padding: 0 84px;
    }

    /* donation section styles */

    .donation {
        background: #F6F6F6;
    }

    .donation-wrapper {
        padding: 91px 142px 100px;
        gap: 30px;
    }

    .donation-box {
        width: 380px;
        max-width: 100%;
    }

    .donation-title {
        text-align: left;
        margin-bottom: 20px;
    }

    .donation-subtitle {
        color: #545454;
        letter-spacing: 0.06em;
        font-size: 15px;
        line-height: 17px;
        font-weight: 400;
        font-family: Georgia, serif;
        margin-bottom: 20px;
    }

    .donation-card {
        background: #F1CDB3;
        border-radius: 9px;
        padding: 10px 15px;
        gap: 15px;
    }

    .donation-card__number {
        letter-spacing: 0.06em;
        font-family: Georgia, serif;
        font-weight: 400;
        font-size: 20px;
        color: #545454;
    }

    .donation-text {
        color: #B2B2B2;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }

    /* footer styles */

    .footer {
        background: url("../../../assets/images/footer-gradient-background.png");
        background-size: cover;
        padding: 40px 0 60px;
    }

    .footer-title {
        color: #FFFFFF;
        font-size: 35px;
        font-weight: 400;
        line-height: 45px;
        margin-bottom: 40px;
    }

    .contact-wrapper {
        gap: 161px;
    }
}

.friends {
    background: #F6F6F6;
}

a {
    text-decoration: none;
}

.friends-btn__wrapper {
    margin-top: 60px;
}

.slide-nav {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

.slide-nav:hover {
    background: #F1CDB3;
    cursor: pointer;
}

.friend-card:hover {
    cursor: pointer;
    background: #F1CDB3;
}

.slide-icon {
    width: 19px;
}

.help-icon {
    width: 60px;
    height: 60px;
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slide-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-wrapper {
    gap: 20px;
}

.footer-img {
    padding-bottom: 50px;
}

.address-wrapper:not(:last-child) {
    margin-bottom: 40px;
}

.address-title {
    color: #F1CDB3;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
}

/* Helpers */

/* container */
.flex {
    display: flex;
}

/* direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-col-r {
    flex-direction: column-reverse;
}

.flex-row-r {
    flex-direction: row-reverse;
}

/* wrap */
.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.wrap-reverse {
    flex-wrap: wrap;
}

/* main axis */
.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

/* cross axis */
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

/* grow/shrink */
.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}